<div class="container">
      <div class="boxStyles">
        <form  class="text-center" [formGroup]= "loginForm" (ngSubmit)="submit()">
          <header> <h2>User Login</h2> </header>

          <span class="ui-float-label my-4">
            <input id="user-name" formControlName="username" maxlength="12"
                   type="text" size="25" pInputText>
            <label for="user-name" class="ml-c-8">Username</label>
          </span>

          <span class="ui-float-label my-4">
            <input id="password" formControlName="password"
                   type="password" size="25" pInputText>
            <label for="password" class="ml-c-8">Password</label>
          </span>
          <div class="mt-3">
            <button pButton label="LOGIN" class="ui-button-rounded" [disabled]="loginForm.invalid"></button>
          </div>
        </form>
      </div>

      <div class="py-3 w-100" *ngIf="loginForm.valid && errorMessage">
        <app-message  [severity]="'error'" [text]="errorMessage"></app-message>
      </div>
</div>
