
  <div class="container my-3">
    <p-tabMenu #tab [model]="items"  [activeItem]="activeItem"
               (click)="tabChange(tab)"></p-tabMenu>
  </div>

  <div class="container" [hidden]="(loader$ | async)">
    <div *ngIf="activeItem.title === 'STOCKS'">
      <div class="d-flex justify-content-end">
        <button pButton type="button" icon="pi pi-plus"
                class="ui-button-rounded ui-button-success"
                (click)="addOptionsPopup()">
        </button>
        <app-add-stocks (action)="onAddStocks()"></app-add-stocks>
      </div>
      <div class="mx-2" *ngIf="shares">
        <app-user-stock-details (action)="onActionPerformed()" [hidden]="innerSpinner"
                                [shares]="shares">
        </app-user-stock-details>
      </div>
      <div class="m-3 text-center">
        <app-loader [hidden]="innerSpinner === false"></app-loader>
      </div>
    </div>

    <div class="d-flex justify-content-around" *ngIf="activeItem.title === 'STOCK_HISTORY'">
      <div class="my-2" *ngIf="history">
        <app-user-stock-history class="w-100" [history]="history">
        </app-user-stock-history>
      </div>
    </div>
  </div>

  <div class="m-5 text-center">
    <app-loader [hidden]="(loader$ | async) === false"></app-loader>
  </div>
