
<div>
  <p-carousel *ngIf="stocks && stocks.length > 0" [value]="stocks"
              [numVisible]="count < 3 ? count : 3" [numScroll]="1"
              [circular]="true" [autoplayInterval]="5000">
    <ng-template let-stock pTemplate="item">
      <div class="stock-details text-center">
        <div class="my-2">
          <div class="p-col-12 stock-data">
            <div class="stock-title font-weight-bold"> {{stock.name}}</div>
            <div class="my-1 mx-2">
              <div class="stock-subtitle font-weight-bold"
                   [ngClass]="stock.price > stock.avg_price ? 'text-success' : 'text-danger'">
                Price : {{stock.price}}</div>
              <div class="stock-subtitle font-weight-bold"
                   [ngClass]="stock.equity > stock.cost ? 'text-success' : 'text-danger'">
                Equity : {{stock.equity}}</div>
              <div class="stock-subtitle font-weight-bold"
                   [ngClass]="stock.cost < stock.equity ? 'text-success' : 'text-danger'">
                Cost : {{stock.cost}}</div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
