<header class="fixed-top">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a routerLink="/" class="navbar-brand">Stocks</a></div>

    <ul class="navbar-nav">
      <li><a *ngIf="userService.isUserLoggedIn()" routerLink="/app-dashboard" class="nav-link">DashBoard</a></li>
      <li><a *ngIf="userService.isUserLoggedIn()" routerLink="/app-reports"  class="nav-link"> Reports </a></li>
      <li><a *ngIf="userService.isUserLoggedIn()" routerLink="/app-admin"  class="nav-link"> Admin </a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a *ngIf="!userService.isUserLoggedIn()" routerLink="/app-register" class="nav-link">Sign Up</a></li>
      <li><a *ngIf="!userService.isUserLoggedIn()" routerLink="/app-login-page" class="nav-link">Login</a></li>
      <li><span *ngIf="(userInfo$ | async) as userInfo" class="nav-link"> {{userInfo.name}}</span></li>
      <li><a *ngIf="userService.isUserLoggedIn()" routerLink="/app-logout" class="nav-link">Logout</a></li>
    </ul>
  </nav>
</header>
