
<p-dialog [(visible)]="showFlag" [appendTo]="'body'"
          [style]="{width: '700px'}"
          class="card-layout">

  <p-header>
    <span class="align-items-center font-weight-bold text-dark mb-2"> Add Stocks </span>
  </p-header>

  <form [formGroup]="addStock" (ngSubmit)="onSubmitStock()">
    <div class="d-flex flex-column justify-content-around align-items-center m-auto">
      <div>
        <label><b>Ticker</b>
          <input class="font-weight-bold ml-4"
                 formControlName="ticker" type="text">
        </label>
      </div>

      <div>
        <label><b>Trade Dt</b>
          <p-calendar class= "ml-3"
                      placeholder="select date"
                      [inputStyle]="{'width':'102%'}"
                      [appendTo]="'body'"
                      formControlName="tradeDate">
          </p-calendar>
        </label>
      </div>

      <div>
        <label><b>Shares</b>
          <input class="font-weight-bold ml-4"
                 formControlName="shares" type="number" [min]="1">
        </label>
      </div>

      <div>
        <label><b>Buy</b>
          <input class="font-weight-bold ml-c-2"
                 formControlName="buy" type="number" [min]="0">
        </label>
      </div>

      <div *ngIf="accounts">
        <label><b>Brokerage</b>
          <p-dropdown  class="ml-2" [options]="accounts"
                       [appendTo]="'body'"
                       formControlName="brokerage"
                       placeholder="select account">
          </p-dropdown>
        </label>
      </div>

      <div class="d-flex justify-content-start my-3">
        <button pButton type="button" label="Reset"
                class="mr-2 ui-button-rounded ui-button-secondary"
                (click)="resetStock()">
        </button>

        <button pButton type="button" label="Submit"
                class="ml-2 ui-button-rounded ui-button-success"
                (click)="onSubmitStock()" [disabled]="addStock.invalid" >
        </button>

        <button pButton type="button" label="Cancel" class="ml-2 ui-button-rounded ui-button-warning"
                (click)="onCancel()">
        </button>

        <input type="file" #uploadFile accept=".xlsx" (change)="onUpload($event)" hidden/>
        <button pButton type="button" label="Upload" class="ml-2 ui-button-rounded ui-button-primary"
                (click)="uploadFile.click()">
        </button>
        <i class="pi pi-info-circle ui-button-secondary" style="font-size:24px"
           (click)="toolTip.toggle($event)"></i>
      </div>
    </div>
  </form>

  <p-overlayPanel #toolTip [appendTo]="'body'" [style]="{'width':'300px'}">
    <span [innerHTML]="text"> </span>
  </p-overlayPanel>

</p-dialog>
