<div *ngIf="data && data.length > 0; else doThis">
  <p-table [columns]="columns" [value]="data">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #doThis>
  <div class="text-center">
    <header class="text-center">
      <h3> No Dividend Data  </h3>
    </header>
  </div>
</ng-template>
