<div class="container">
   <div class="text-center">
     <label for="stock-name">
       <input id="stock-name" type="text"
              class="ui-button-rounded"
              placeholder="Search Stock"
              size="50" pInputText [(ngModel)]="text"/>
     </label>

     <button pButton type="button" label="submit"
             (click)="submit(text)"
             class="mx-3 ui-button-rounded" [disabled]="!text"></button>
   </div>
</div>

<div class="container mt-3" *ngIf="stockData">
  <div class="d-flex flex-column flex-wrap justify-content-around">
    <div class="text-dark">
      <h3>{{stockData.stockName}}</h3>
    </div>
    <div class="mt-2">
      <label><b>Ticker</b></label>
      <a class="text-primary ml-c-4" style="cursor:pointer;"
         (click)="goToLink(stockData.ticker)"> {{stockData.ticker}}
      </a>
    </div>
    <div>
      <label for="price" class="text-left"><b>Price</b></label>
      <span id="price" class="text-success ml-5">{{stockData.price | currency}}</span>
    </div>
    <div>
      <label for="high" class="text-left"><b>High</b></label>
      <span id="high" class="text-success ml-5">{{stockData.high | currency}}</span>
    </div>
    <div>
      <label for="low" class="text-left"><b>Low</b></label>
      <span id="low" class="text-success ml-5">{{stockData.low | currency}} </span>
    </div>
    <div *ngIf="stockData.dividend">
      <label for="dividend" class="text-left"><b>Dividend</b></label>
      <span id="dividend" class="text-success ml-4">{{stockData.dividend | currency}}</span>
    </div>
    <div *ngIf="stockData.payDate">
      <label for="payDate" class="text-left"><b>Pay date</b></label>
      <span id="payDate" class="text-success ml-3">{{stockData.payDate | date}}</span>
    </div>
  </div>
</div>
