<div class="col-sm-12 my-5">
  <div class="mt-3" [hidden]="(loader$ | async)">
    <app-auto-play-cards [stocks]="stockHistory"
                         *ngIf="stockHistory && stockHistory.length > 0; else doThis">
    </app-auto-play-cards>
  </div>

  <div class="mt-5 text-center">
    <app-loader [hidden]="(loader$ | async) === false"></app-loader>
  </div>
</div>


<ng-template #doThis>
  <div class="container mt-5">
    <div class="text-center mt-5">
      <h3> No stocks found.</h3>
    </div>
  </div>
</ng-template>
