<div class="container mb-4">
  <div class="row col-sm-12">
    <div class="col-sm-3" *ngIf="portfolioValue">
        <app-semi-pie-cards [title]="'Portfolio'" [data]="portfolioValue"
                           [ngClass]="portfolio.portfolio > portfolio.investment ? 'text-success' : 'text-danger'">
        </app-semi-pie-cards>
    </div>

    <div class="col-sm-3" *ngIf="investment">
        <app-semi-pie-cards [title]="'Investment'" [data]="investment"
                           [ngClass]="portfolio.portfolio > portfolio.investment ? 'text-success' : 'text-danger'">
        </app-semi-pie-cards>
    </div>

    <div class="col-sm-3"  *ngIf="annualDividend">
        <app-doughnut-chart [title]="'Dividend'" [data]="annualDividend">
        </app-doughnut-chart>
    </div>

    <div class="col-sm-3"  *ngIf="position">
        <app-doughnut-chart [data]="position"
                           [title]="portfolio.portfolio > portfolio.investment ? 'Profit': 'Loss'">
        </app-doughnut-chart>
    </div>

  </div>
</div>
