<div class="container mb-4">
  <div class="d-flex flex-row justify-content-around mt-3">

    <div class="w-100 mr-2" *ngIf="portfolioValue">
      <app-doughnut-chart [title]="'Portfolio'" [data]="portfolioValue"
                          [type]="'options'"
                          [ngClass]="portfolio.portfolio > portfolio.investment ? 'text-success' : 'text-danger'">
      </app-doughnut-chart>
    </div>

    <div class="w-100 mr-2" *ngIf="investment">
      <app-semi-pie-cards [title]="'Investment'" [data]="investment"
                          [ngClass]="portfolio.portfolio > portfolio.investment ? 'text-success' : 'text-danger'">
      </app-semi-pie-cards>
    </div>

    <div class="w-100 mr-2" *ngIf="annualDividend">
      <app-doughnut-chart [title]="'Dividend'" [type]="'options'"
                          [data]="annualDividend">
      </app-doughnut-chart>
    </div>

    <div class="w-100" *ngIf="position">
      <app-semi-pie-cards [data]="position"
                          [title]="portfolio.portfolio > portfolio.investment ? 'Profit': 'Loss'">
      </app-semi-pie-cards>
    </div>

  </div>

  <div class="d-flex flex-row justify-content-around mt-3">
    <div class="w-100 mr-2" *ngIf="percentChange">
      <app-display-cards [title]="portfolio.portfolio > portfolio.investment ? 'Profit %': 'Loss %'"
                         [data]="percentChange">
      </app-display-cards>
    </div>

    <div class="w-100 mr-2" *ngIf="stockCount">
      <app-display-cards [title]="'Stocks'" [data]="stockCount">
      </app-display-cards>
    </div>

    <div class="w-100" *ngIf="optionCount">
      <app-display-cards [title]="'Options'" [data]="optionCount">
      </app-display-cards>
    </div>
  </div>

  <div class="container my-4 w-100">
    <app-line-cards *ngIf="portfolioData" [data]="portfolioData"></app-line-cards>
  </div>
</div>
