<p-dialog [(visible)]="showFlag" [appendTo]="'body'"
          [style]="{width: '700px'}"
          class="card-layout">

  <p-header>
    <span class="text-center font-weight-bold text-danger mb-2"> Delete Stock </span>
  </p-header>

    <div class="text-center" *ngIf="stock">
      <span>Are you sure you want to delete
        <span class="text-danger"><b>{{stock.name}}</b></span> stock</span>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <button pButton type="button" label="Yes" class="ml-2 ui-button-rounded ui-button-success"
              (click)="onSubmitStock()"></button>

      <button pButton type="button" label="No" class="ml-2 ui-button-rounded ui-button-warning"
              (click)="onCancel()">
      </button>
    </div>

</p-dialog>

